<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/sequence/stylesheets/style.css' />
  </head>
  <body>
    
    <div>
      <div class="row">
        <div class="col-md-2" id="shuffled-images"></div>
        <div class="col-sm-12 col-md-8" id="videoPlayer">
          <video width="640" height="320" id="lemonVideo">
            <source src="/sequence/videos/bev_Fizzio_Lemon_Ale_MG_360_v01.webm" type="video/webm">
            <source src="/sequence/videos/bev_Fizzio_Lemon_Ale_MG_360_v01.mp4" type="video/mp4">
            Your browser does not support the video tag.
          </video>
        </div> 
        <div class="alert alert-success col-sm-12 col-md-8 col-lg-5" id="messages">Move the images to the placeholders below in the correct order complete this lesson.</div>
        <div class="col-md-10 col-sm-12" id="dropPoints">
          <div data-position="1" id="drop-1"></div>
          <div data-position="2" id="drop-2"></div>
          <div data-position="3" id="drop-3"></div>
          <div data-position="4" id="drop-4"></div>
          <div data-position="5" id="drop-5"></div>
          <div data-position="6" id="drop-6"></div>
          <div data-position="7" id="drop-7"></div>
        </div>
    </div>
    </div>
  </body>
  <script src="/sequence/javascripts/lms-tools.js"></script>
  <script src="/sequence/javascripts/scripts.js"></script>
  
</html>
